:root {
	color-scheme: dark;
	image-rendering: pixelated;

	font-family: "Recursive", "Noto Sans JP", "Noto Sans Javanese", sans-serif;
	font-synthesis: none;
}

@keyframes nexus {
	0% {
		color: #f476b0;
	}
	33.333% {
		color: #27d4d9;
	}
	66.667% {
		color: #fad940;
	}
	100% {
		color: #f476b0;
	}
}

* {
	margin: 0;
	min-width: 0;
}

body {
	width: 100%;
	height: 100vh;

	background: url("/static/bg.gif") repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.nexus {
	animation: nexus 10s linear infinite;
}

h1#brand {
	margin: 1rem 0;

	font-weight: 700;
	font-size: 2rem;
	writing-mode: vertical-lr;
}

p#title {
	font-weight: 900;
	font-variation-settings: "MONO" 1, "CASL" 0.5, "CRSV" 1;
	line-height: 1;
}

.impressum {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.125rem;

	text-align: center;
	font-variation-settings: "MONO" 1;
	font-size: xx-small;
	color: #fff;
	background: #212121;
}

.impressum a:link {
	color: #fff;
	opacity: 50%;
}

.impressum a:visited {
	color: #fff;
	opacity: 50%;
}

.impressum a:hover {
	color: #fff;
	opacity: 100%;
}

.impressum a:active {
	color: #aaa;
	opacity: 100%;
}
