@import "tailwindcss" source(none);
@source "./";

@theme {
	--font-*: initial;
	--font-sans: "Recursive", "Noto Sans JP", "Noto Sans Javanese", sans-serif;
	--font-synthesis: none;

	--color-*: initial;
	--shadow-*: initial;

	--color-yvvki: #f476b0;
	--color-kekkon: #27d4d9;
	--color-suhartanto: #fad940;

	--color-gray-50: #1f1f1f;
	--color-gray-100: #2a2a2a;

	--color-black: #000;
	--color-white: #fff;

	--background-image-pattern: url("/static/bg.gif");

	--animate-nexus: nexus 10s linear infinite;

	@keyframes nexus {
		0% {
			color: var(--color-yvvki);
		}
		33.333% {
			color: var(--color-kekkon);
		}
		66.667% {
			color: var(--color-suhartanto);
		}
		100% {
			color: var(--color-yvvki);
		}
	}
}

/* https://stackoverflow.com/q/78995150/14511192 */
@font-face {
	font-family: "Noto Sans Javanese";
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosansjavanese/v23/2V0AKJkDAIA6Hp4zoSScDjV0Y-eoHAH507U9dp0.woff2) format("woff2");
	unicode-range: U+200C-200D, U+25CC, U+A980-A9DF;
	ascent-override: 175%;
}

@utility font-display {
	font-variation-settings: "MONO" 1, "CASL" 0.5, "CRSV" 1;
}

@utility font-mono {
	font-variation-settings: "MONO" 1;
}

@utility text-stroke-* {
	-webkit-text-stroke-width: calc(var(--spacing) * --value(integer));
	-webkit-text-stroke-color: --value(--color-*);
}
