@import "tailwindcss" source(none);
@source "./";

@theme {
	--font-*: initial;
	--font-sans: "Recursive", "Noto Sans JP", "Noto Sans Javanese", sans-serif;
	--font-synthesis: none;

	--color-*: initial;
	--shadow-*: initial;

	--color-yvvki: #f476b0;
	--color-kekkon: #27d4d9;
	--color-suhartanto: #fad940;

	--color-gray-50: #1f1f1f;
	--color-gray-100: #2a2a2a;

	--color-black: #000;
	--color-white: #fff;

	--background-image-pattern: url("/static/bg.gif");
	--background-image-awareness: url("/static/awareness.png");

	--animate-nexus: nexus 10s linear infinite;
	--animate-bg-marquee: marquee 120s linear infinite;
	--animate-spin: spin 20s linear infinite;
	
	@keyframes nexus {
		0% {
			color: var(--color-yvvki);
		}
		33.333% {
			color: var(--color-kekkon);
		}
		66.667% {
			color: var(--color-suhartanto);
		}
		100% {
			color: var(--color-yvvki);
		}
	}

	@keyframes marquee {
		0% { background-position: 0% 0%; }
		100% { background-position: -100% -100%; }
	}

	@keyframes spin {
		100% { rotate: 360deg; }
	}
}

/* Chrome :visited fix */
@layer base {
	* {
		-webkit-text-stroke-color: inherit;
	}
}

/* https://stackoverflow.com/q/78995150/14511192 */
@font-face {
	font-family: "Noto Sans Javanese";
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosansjavanese/v23/2V0AKJkDAIA6Hp4zoSScDjV0Y-eoHAH507U9dp0.woff2) format("woff2");
	unicode-range: U+200C-200D, U+25CC, U+A980-A9DF;
	ascent-override: 175%;
}

@property --nexus-spin {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@keyframes nexus-spin {
	100% { --nexus-spin: 360deg }
}

@utility bg-nexus-gradient {
	width: 100%; height: 100%;
  background-image: conic-gradient(from var(--nexus-spin), var(--color-kekkon), var(--color-suhartanto), var(--color-kekkon), var(--color-yvvki), var(--color-kekkon));
	animation: nexus-spin linear 100s infinite;
}

@utility mask-circle {
	mask-image: radial-gradient(circle closest-side, #0000 79.6%, #000 80%);
}

@utility font-display {
	font-variation-settings: "MONO" 1, "CASL" 0.5, "CRSV" 1;
}

@utility font-mono {
	font-variation-settings: "MONO" 1;
}

@utility text-stroke-* {
	-webkit-text-stroke-width: calc(var(--spacing) * --value(integer));
	-webkit-text-stroke-color: --value(--color-*);
}
